In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

df=pd.read_csv('D:\Datasets\startup_funding.csv')
df

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

In [2]:
df.shape

(3044, 10)

In [3]:
df.dtypes

Sr No                 int64
Date dd/mm/yyyy      object
Startup Name         object
Industry Vertical    object
SubVertical          object
City  Location       object
Investors Name       object
InvestmentnType      object
Amount in USD        object
Remarks              object
dtype: object

In [4]:
df.isnull().sum()

Sr No                   0
Date dd/mm/yyyy         0
Startup Name            0
Industry Vertical     171
SubVertical           936
City  Location        180
Investors Name         24
InvestmentnType         4
Amount in USD         960
Remarks              2625
dtype: int64

In [5]:
#Total number of funding done in each year

In [6]:
d={}
x=df["Date dd/mm/yyyy"]
for date in x.values:
    year=date[-4:]
    if year in d:
        d[year]+=1
    else:
        d[year]=1
for i in d:
    print(i,d[i])

2020 7
2019 111
2018 310
2017 687
2016 993
2015 935
/015 1

In [7]:
#Top 10 Indian Cities with most no of startups

In [8]:
df.dropna(subset=["City  Location"],inplace=True)
df[df["City  Location"]=="Delhi"]=="New Delhi"
df[df["City  Location"]=="banglore"]=="Banglore"
df[df["City  Location"]=="Bengaluru"]=="Banglore"
df["City  Location"].value_counts()[:10]

Bangalore    700
Mumbai       567
New Delhi    421
Gurgaon      287
Bengaluru    141
Pune         105
Hyderabad     99
Chennai       97
Noida         92
Gurugram      50
Name: City  Location, dtype: int64

In [9]:
#top 10 Indian cities with most amount of fundings received

In [27]:
def seperate_city(city):
    return city.split('/')[0].strip()
df["City  Location"]=df["City  Location"].apply(seperate_city)
df["City  Location"].replace("Delhi","New Delhi",inplace=True)
df["City  Location"].replace("banglore","Banglore",inplace=True)
df["City  Location"].replace("Bengaluru","Banglore",inplace=True)
df["City  Location"].replace("Bangalore","Banglore",inplace=True)


df["Amount in USD"].replace("undisclosed","0",inplace=True)
df["Amount in USD"].replace("unknown","0",inplace=True)
df["Amount in USD"].replace("Undisclosed","0",inplace=True)
df["Amount in USD"].replace('14,342,000+',"14342000",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa020,000,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa016,200,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa0N/A","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa0600,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa0685,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa019,350,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa05,000,000","0",inplace=True)
df["Amount in USD"].replace("\\\\xc2\\\\xa010,000,000","0",inplace=True)



df['Amount in USD'] = df['Amount in USD'].apply(lambda x: float(str(x).replace(",","")))


y = df.groupby('City  Location')['Amount in USD'].sum()
y=y.sort_values(ascending=False)[:10]
city=y.index
amount=y.values

percent=np.true_divide(amount,amount.sum())*100
for i in range (len(city)):
    print(city[i],round(percent[i],2),"%")

Banglore 54.08 %
Mumbai 14.43 %
New Delhi 9.81 %
Gurgaon 8.78 %
Noida 3.69 %
Gurugram 2.53 %
Chennai 2.1 %
Pune 2.1 %
Menlo Park 1.31 %
Hyderabad 1.17 %

In [ ]:
# investment type and percentage of amount funded

In [28]:
df['InvestmentnType'].replace('SeedFunding','Seed Funding',inplace = True)
df['InvestmentnType'].replace('PrivateEquity','Private Equity',inplace = True)
df['InvestmentnType'].replace('DebtFunding','Debt Funding',inplace = True)
df['InvestmentnType'].replace('Crowd funding','Crowd Funding',inplace = True)

df['Amount in USD'] = df['Amount in USD'].apply(lambda x: float(str(x).replace(",","")))

z=df.groupby('InvestmentnType')['Amount in USD'].sum()
z=z.sort_values(ascending=False)[:10]
investment=z.index
amount=z.values

percent=np.true_divide(amount,amount.sum())*100
for i in range (len(city)):
    print(investment[i],round(percent[i],2),"%")

Private Equity 71.76 %
Series B 13.55 %
Series D 4.18 %
Series C 2.95 %
Funding Round 2.82 %
Seed Funding 1.54 %
Private Equity Round 1.43 %
Series G 0.65 %
Series A 0.57 %
Seed Round 0.55 %

In [ ]:
#Top 5 industries and percentage of the total amount funded to that industry

In [29]:
df['Industry Vertical'].replace('ECommerce','Ecommerce',inplace = True)
df['Industry Vertical'].replace('eCommerce','Ecommerce',inplace = True)
df['Industry Vertical'].replace('ecommerce','Ecommerce',inplace = True)

a=df.groupby('Industry Vertical')['Amount in USD'].sum()
a=a.sort_values(ascending=False)[:5]

industry=a.index
amount=a.values
percent=np.true_divide(amount,amount.sum())*100
for i in range (len(industry)):
    print(industry[i],round(percent[i],2),"%")

Ecommerce 33.27 %
Consumer Internet 29.04 %
Transportation 18.19 %
Technology 10.35 %
Finance 9.15 %

In [ ]:
#top 5 startups with most amount of total funding

In [30]:
df['Startup Name'].replace('Oyorooms','Oyo',inplace = True)
df['Startup Name'].replace('OyoRooms','Oyo',inplace = True)
df['Startup Name'].replace('Oyo Rooms','Oyo',inplace = True)
df['Startup Name'].replace('OYO Rooms','Oyo',inplace = True)
df['Startup Name'].replace('Olacabs','Ola',inplace = True)
df['Startup Name'].replace('Ola Cabs','Ola',inplace = True)
df['Startup Name'].replace('Olacabs','Ola',inplace = True)
df['Startup Name'].replace('Flipkart.com','Flipkart',inplace = True)
df['Startup Name'].replace('Paytm Marketplace','Paytm',inplace = True)

b=df.groupby('Startup Name')['Amount in USD'].sum()
b=b.sort_values(ascending=False)[:5]

for i in range(len(b.index)):
    print(b.index[i])

Flipkart
Rapido Bike Taxi
Paytm
Ola
Oyo

In [ ]:
#Find the top 5 startups who received the most number of funding rounds

In [31]:
totalfunding = df['Startup Name'].value_counts()[:5]
startupname = totalfunding.index
count = totalfunding.values
for i in range(5):
    print(startupname[i],count[i])

Ola 13
Oyo 8
Swiggy 8
Meesho 6
Nykaa 6

In [ ]:
#To find the investor who has invested maximum number of times

In [33]:
df.dropna(subset=['Investors Name'],inplace=True)
d={}

def investor_name(invest):
    l=invest.split(',')
    for i in l:
        i=i.strip()
        d[i]=d.get(i,0)+1
    return l

df['Investors Name'].apply(investor_name)

key=np.array(list(d.keys()))
values=np.array(list(d.values()))

ind=values.argmax()
print(key[ind],values[ind])

Accel Partners 66